.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Camada de informações do filme (inicialmente oculta) */
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro para destacar o texto */
  color: #f9d3b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
}

/* Imagem do filme */
.poster {
  width: 100%;
  height: 100%;
}

.poster img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.movie:hover .info {
  opacity: 1;
}

.movie:hover .poster img {
  opacity: 0.3;
}
